.table-header {
  background-color: #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.radioButton {
  margin: 8px;
}

.textArea {
  margin: 10px;
}

.btn-custom {
  margin-right: 10px;
  border: 1px solid black;
  background-color: #eee;
  color: black;
}

.disabled-false {
  display: none;
}


tr[disabled] {
  color: grey;
}
